<!DOCTYPE html>
<html lang="en" lang="bn">
  <head>
    <!-- head tag with title and favicon iamage and css  -->

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learn with skill | Bootstrap</title>
    <link
      rel="icon"
      href="../Images/logo.png"
      type="image/png"
    />
    <link
      rel="stylesheet"
      href="../CSS/style.css"
    />
    <script type="text/javascript" src="JavaScript/script.js"></script>
    <script src="https://kit.fontawesome.com/45f3c460ed.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <!-- Website logo and welcome content of homepage  -->
    <div class="welcome">
      <table>
        <tr>
          <td>
            <a href="../index.html"
              ><img
                src="../Images/logo.png"
            /></a>
          </td>
          <td>
            <h1 style="color: rgb(98, 0, 255)">
              Learn With Skill ,The world of learning
            </h1>
          </td>
        </tr>
      </table>
    </div>

    <!-- container division with navigation bar -->

    <div class="container">
      <header>
        <hr />
        <div class="navbar">
          <a href="../index.html"><h4><i class="fas fa-home"></i>Home</h4> </a>
          <a href="courses.html"><h4><i class="fas fa-graduation-cap"></i>Courses</h4></a>
          <a href="study_materials.html"><h4><i class="fas fa-book"></i>Study Materials</h4></a>
          <div class="search-bar">
            <form>
              <input type="text" placeholder="Search..." />
              <button type="submit">Search</button>
            </form>
          </div>
          <div class="log-sign-container">
            <a href="signup.html" class="signup-button"><i class="fas fa-user-plus"></i>Sign Up</a>
            <a href="login.html" class="login-button"><i class="fas fa-sign-in-alt"></i>Log In </a>
          </div>
        </div>
        <hr />
      </header>

      <div class="rs-container">
        <div class="topic-details">
          <h1>Bootstrap</h1>
          <img
            src="../Images/bootstrap.jpg"
            alt="bootstrap_logo"
          />
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim error
            nostrum dolore est tempore tempora placeat, voluptatum et delectus
            modi atque odit minus debitis perspiciatis voluptates dolorum
            dolores eum inventore unde hic, quis voluptate voluptatem? Esse, vel
            vero magnam cum optio ea? Iure odit saepe, qui quo id dolore
            obcaecati cupiditate ipsa perspiciatis a ipsam quidem consectetur
            molestiae quas soluta facilis eveniet blanditiis!
          </p>
        </div>
        <div class="rs-playlist">
          <h1>YouTube Playlist</h1>
          <hr />
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/videoseries?list=PLNMnAEqLBwmoTn_BC62l73QRUXSdUWiiS"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>
          <h2>Studey Materials :</h2>
          <ul>
            <li>
              <a
                href="https://www.tutorialspoint.com/bootstrap/bootstrap_tutorial.pdf"
                >tutorialspoint</a
              >
            </li>
            <li>
              <a
                href="http://www.cs.toronto.edu/~mashiyat/csc309/Tutorial/6/Bootstrap.pdf"
                >University of Torento</a
              >
            </li>
            <li>
              <a
                href="https://pepa.holla.cz/wp-content/uploads/2015/10/Bootstrap.pdf"
                >Pepa Holla</a
              >
            </li>
            <li>
              <a
                href="https://www.webcodegeeks.com/wp-content/uploads/2015/12/Bootstrap-Programming-Cookbook.pdf"
                >Web Code Geeks</a
              >
            </li>
            <li>
              <a
                href="https://wiki.lib.sun.ac.za/images/0/07/Bootstrap-tutorial.pdf"
                >Wiki Lab</a
              >
            </li>
          </ul>
        </div>
      </div>

      <hr />

      <footer class="footer">
        <a href="contact.html"><i class="fas fa-comments"></i>Feedback</a>
            <a href="tou.html"><i class="fas fa-swatchbook"></i>Terms of Use</a>
            &copy; 2023 Technical Documentation - Learn With Skill. All rights reserved.
            <br> <br>
            <a href=""><i class="fas fa-address-card"></i>Contact Us :</a> 
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-whatsapp-square"></i></a>
            <a href="#"><i class="fas fa-envelope-open-text"></i></a>
            <a href="#"><i class="fas fa-paper-plane"></i></a>
            <br>
      </footer>
    </div>
  </body>
</html>
