<!DOCTYPE html>
<html lang="en" lang="bn">
  <head>
    <!-- head tag with title and favicon iamage and css  -->

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learn with skill | Courses</title>
    <link rel="icon" href="../Images/logo.png" type="image/png" >
    <link rel="stylesheet" href="../CSS/style.css">
    <script type="text/javascript" src="JavaScript/script.js"></script>
    <script src="https://kit.fontawesome.com/45f3c460ed.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <!-- Website logo and welcome content of homepage  -->
    <div class="welcome">
      <table>
        <tr>
          <td>
            <a href="../index.html"
                  ><img
                    src="../Images/logo.png"
                /></a>
          </td>
          <td>
            <h1 style="color: rgb(98, 0, 255)">
              Learn With Skill ,The world of learning
            </h1>
          </td>
        </tr>
      </table>
    </div>

    <!-- container division with navigation bar -->

    <div class="container">
      <header>
        <h1 style="color: rgb(98, 0, 255)">
          Learn With Skill , The world of learning
        </h1>
        <hr />
        <div class="navbar">
          <a href="../index.html"><h4><i class="fas fa-home"></i>Home</h4> </a>
          <a href="courses.html"><h4><i class="fas fa-graduation-cap"></i>Courses</h4></a>
          <a href="study_materials.html"><h4><i class="fas fa-book"></i>Study Materials</h4></a>
          <div class="search-bar">
            <form>
              <input type="text" placeholder="Search..." />
              <button type="submit">Search</button>
            </form>
          </div>
          <div class="log-sign-container">
            <a href="signup.html" class="signup-button"><i class="fas fa-user-plus"></i>Sign Up</a>
            <a href="login.html" class="login-button"><i class="fas fa-sign-in-alt"></i>Log In </a>
          </div>
        </div>
        </div>
        <hr />
      </header>
      <main>
        <h1 class="heading">OUR COURSES</h1>
        <hr />

        <section class="courses">
          <div class="box-container">
            <div class="box">
              <div class="thumb">
                <a href="html_playlist.html"
                  ><img
                    src="../Images/html.jpg"
                    alt="html_logo"
                /></a>
              </div>
              <h3 class="title">complete HTML tutorial</h3>
              <a href="html_playlist.html" class="inline-btn"
                >view playlist</a
              >
            </div>

            <div class="box">
              <div class="thumb">
                <img
                  src="../Images/css.jpg"
                  alt="css_logo"
                />
              </div>
              <h3 class="title">complete CSS tutorial</h3>
              <a href="css_playlist.html" class="inline-btn"
                >view playlist</a
              >
            </div>

            <div class="box">
              <div class="thumb">
                <img
                  src="../Images/bootstrap.jpg"
                  alt="bootstrap_logo"
                />
              </div>
              <h3 class="title">Complete Bootstrap tutorial</h3>
              <a href="bts_playlist.html" class="inline-btn"
                >view playlist</a
              >
            </div>

            <div class="box">
              <div class="thumb">
                <img
                  src="../Images/javascript.jpg"
                  alt="js_logo"
                />
              </div>
              <h3 class="title">Complete JavaScript tutorial</h3>
              <a href="js_playlist.html" class="inline-btn"
                >view playlist</a
              >
            </div>

            <div class="box">
              <div class="thumb">
                <img
                  src="../Images/jquery.png"
                  alt="jquery_logo"
                />
              </div>
              <h3 class="title">complete JQuery tutorial</h3>
              <a href="jquery_playlist.html" class="inline-btn"
                >view playlist</a
              >
            </div>

            <div class="box">
              <div class="thumb">
                <img
                  src="../Images/php.jpg"
                  alt="php_logo"
                />
              </div>
              <h3 class="title">complete PHP tutorial</h3>
              <a href="php_playlist.html" class="inline-btn"
                >view playlist</a
              >
            </div>

            <div class="box">
              <div class="thumb">
                <img
                  src="../Images/typescript.png"
                  alt="typescript_logo"
                />
              </div>
              <h3 class="title">complete Typescript tutorial</h3>
              <a href="ts_playlist.html" class="inline-btn"
                >view playlist</a
              >
            </div>

            <div class="box">
              <div class="thumb">
                <img
                  src="../Images/reactjs.png"
                  alt="reactjs_logo"
                />
              </div>
              <h3 class="title">complete React-JS tutorial</h3>
              <a href="rjs_playlist.html" class="inline-btn"
                >view playlist</a
              >
            </div>

            <div class="box">
              <div class="thumb">
                <img
                  src="../Images/nodejs.png"
                  alt="nodejs_logo"
                />
              </div>
              <h3 class="title">complete Node-JS tutorial</h3>
              <a href="njs_playlist.html" class="inline-btn"
                >view playlist</a
              >
            </div>
          </div>
        </section>
      </main>
      <hr />
      <footer class="footer">
        <a href="contact.html"><i class="fas fa-comments"></i>Feedback</a>
            <a href="tou.html"><i class="fas fa-swatchbook"></i>Terms of Use</a>
            &copy; 2023 Technical Documentation - Learn With Skill. All rights reserved.
            <br> <br>
            <a href=""><i class="fas fa-address-card"></i>Contact Us :</a> 
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-whatsapp-square"></i></a>
            <a href="#"><i class="fas fa-envelope-open-text"></i></a>
            <a href="#"><i class="fas fa-paper-plane"></i></a>
            <br>
      </footer>
    </div>
  </body>
</html>
