<!DOCTYPE html>
<html lang="en" lang="bn">
  <head>
    <!-- head tag with title and favicon iamage and css  -->

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learn with skill | Profile</title>
    <link rel="icon" href="../Images/logo.png" type="image/png" >
    <link rel="stylesheet" href="../CSS/style.css">
    <script type="text/javascript" src="JavaScript/script.js"></script>
    <script src="https://kit.fontawesome.com/45f3c460ed.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <!-- Website logo and welcome content of homepage  -->
    <div class="welcome">
      <table>
        <tr>
          <td>
            <a href="../index.html"
            ><img
              src="../Images/logo.png"
          /></a>
          </td>
          <td>
            <h1 style="color: rgb(98, 0, 255)">
              Learn With Skill ,The world of learning
            </h1>
          </td>
        </tr>
      </table>
    </div>

    <!-- container division with navigation bar -->

    <div class="container">
      <header>
        <hr />
        <div class="navbar">
          <a href="../index.html"><h4><i class="fas fa-home"></i>Home</h4> </a>
          <a href="courses.html"><h4><i class="fas fa-graduation-cap"></i>Courses</h4></a>
          <a href="study_materials.html"><h4><i class="fas fa-book"></i>Study Materials</h4></a>
          <div class="search-bar">
            <form>
              <input type="text" placeholder="Search..." />
              <button type="submit">Search</button>
            </form>
          </div>
          <div class="log-sign-container">
            <a href="signup.html" class="signup-button"><i class="fas fa-user-plus"></i>Sign Up</a>
            <a href="login.html" class="login-button"><i class="fas fa-sign-in-alt"></i>Log In </a>
          </div>
        </div>
        <hr />
      </header>

      <section class="user-profile">
        <h1 class="heading">your profile</h1>

        <div class="info">
          <div class="user">
            <img src="images/pic-1.jpg" alt="" />
            <h3>Rana Hamid</h3>
            <a href="update.html" class="inline-btn">update profile</a>
          </div>

          <div class="box-container">
            <div class="box">
              <div class="flex">
                <i class="rs-bookmark"></i>
                <div>
                  <span>4</span>
                  <p>saved playlist</p>
                </div>
              </div>
              <a href="#" class="inline-btn">view playlists</a>
            </div>

            <div class="box">
              <div class="flex">
                <i class="rs-heart"></i>
                <div>
                  <span>33</span>
                  <p>videos liked</p>
                </div>
              </div>
              <a href="#" class="inline-btn">view liked</a>
            </div>

            <div class="box">
              <div class="flex">
                <i class="rs-comment"></i>
                <div>
                  <span>12</span>
                  <p>videos comments</p>
                </div>
              </div>
              <a href="#" class="inline-btn">view comments</a>
            </div>
          </div>
        </div>
      </section>

      <hr />

      <footer class="footer">
        <a href="contact.html"><i class="fas fa-comments"></i>Feedback</a>
            <a href="tou.html"><i class="fas fa-swatchbook"></i>Terms of Use</a>
            &copy; 2023 Technical Documentation - Learn With Skill. All rights reserved.
            <br> <br>
            <a href=""><i class="fas fa-address-card"></i>Contact Us :</a> 
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-whatsapp-square"></i></a>
            <a href="#"><i class="fas fa-envelope-open-text"></i></a>
            <a href="#"><i class="fas fa-paper-plane"></i></a>
            <br>
      </footer>
    </div>
  </body>
</html>
